@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #FED405;
  --color-primary-bg: #191A30;
  --color-secondary-bg: #131426;
  
  --font-sans: var(--font-geist-sans), sans-serif;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 25, 26, 48;
  --background-end-rgb: 25, 26, 48;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    color: rgb(var(--foreground-rgb));
    background: #191A30;
    @apply antialiased;
  }
}

/* Custom Scrollbar for that "Tactical" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #131426;
}
::-webkit-scrollbar-thumb {
  background: #FED405;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5c004;
}